spring:
  application:
    name: interview-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      enabled: false
      fail-fast: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    mongodb:
      uri: mongodb://localhost:27017/interviewgenius

server:
  port: 8085
  servlet:
    context-path: /api/v1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics


