spring:
  application:
    name: gateway-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      enabled: false
      fail-fast: false
    gateway:
      routes:
        - id: ai-service
          uri: lb://ai-service
          predicates:
            - Path=/api/v1/ai/**
        - id: question-service
          uri: lb://question-service
          predicates:
            - Path=/api/v1/questions/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/users/**
        - id: useranswer-service
          uri: lb://useranswer-service
          predicates:
            - Path=/api/v1/user-answers/**
        - id: interview-service
          uri: lb://interview-service
          predicates:
            - Path=/api/v1/interviews/**
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 149225633493-h73crvtahs3phe3thledttl95m3o41m7.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - user:email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

jwt:
  secret: ${JWT_SECRET:your-secret-key-must-be-at-least-512-bits-long-for-HS512-algorithm-please-change-this-in-production}
  expiration: 86400000 # 24 hours in milliseconds
