server:
  port: 8083
  servlet:
    context-path: /api/v1

spring:
  application:
    name: ai-service
  config:
    import: optional:configserver:http://localhost:8888
  ai:
    anthropic:
      api-key: ${ANTHROPIC_API_KEY}
      model: ${ANTHROPIC_MODEL:claude-3-haiku-20240307}
      temperature: 0.7
      max-tokens: 1024

# Eureka client settings
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

# Actuator configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true
  info:
    env:
      enabled: true