server:
  port: 8082
  servlet:
    context-path: /api/v1

spring:
  application:
    name: question-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/interviewgenius_questions
      auto-index-creation: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always