server:
  port: 8084
  servlet:
    context-path: /api/v1

spring:
  application:
    name: useranswer-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      enabled: false
      fail-fast: false
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/interviewgenius}
      auto-index-creation: true


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    preferIpAddress: true
