server:
  port: 8084
  servlet:
    context-path: /api/v1

spring:
  application:
    name: useranswer-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      enabled: false
      fail-fast: false
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb+srv://shondhatara94_db_user:PH6wud5CotmMoLoE@cluster0.1sojcyj.mongodb.net/interviewgenius?retryWrites=true&w=majority&appName=Cluster0}
      auto-index-creation: true


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    preferIpAddress: true
